.navbar-expand-lg {
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #f0f8ff !important; }

.header__container-fluid {
  align-items: center;
  text-align: center; }

.header_logo {
  width: 150px;
  height: 150px; }

.body_li {
  display: flex;
  list-style: none;
  justify-content: space-around;
  background-color: color azure;
  color: black; }

.body {
  background-color: color lavender !important; }

.footer_logo-wp {
  width: 100px;
  height: 100px; }

.footer_logo-face {
  width: 100px;
  height: 100px; }

.footer_logo-insta {
  height: 100px;
  width: 100px; }

.iconos-redes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #7fffd4; }

.footer {
  text-align: center;
  background-color: #9898b9;
  height: 182px;
  position: relative;
  top: 6px; }

.footer_h3 {
  background-color: #9898b9; }

.section_img {
  width: 100%;
  height: 100%;
  margin: 4px;
  padding: 9px;
  background-color: #ced4da; }

.galeria {
  width: 100%;
  background-color: Color #e6e6fa; }

.section_img:hover {
  border: 5px solid aquamarine; }

.galeria-productos {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
  background-color: honeydew; }

.card-img-top {
  width: 285px;
  height: 250px; }

.card {
  background-color: color #ced4da; }

.card:hover {
  border: 2px solid black; }

form.formulario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  border-radius: 3px solid black; }

form.formulario:hover {
  border-radius: 3px solid white; }

iframe.formulario_iframe {
  width: 100%; }

.formulario_h4 {
  text-align: center;
  background-color: whitesmoke; }

@media (min-width: 320px) {
  .body_li {
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: azure;
    color: black;
    flex-direction: column;
    align-items: center; } }

@media (min-width: 768px) {
  .body_li {
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: azure;
    color: black;
    flex-direction: row;
    align-items: center; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.accordion-item {
  background-color: cadetblue !important; }
