.galeria-index {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  position: relative;
  top: -823px;
  left: 20px;
}

.galeria-index2 {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  left: 976px;
  top: -540px;
  position: relative;
}

.galeria-index .img {
  width: 200px;
  height: 200px;
}

.galeria-index2 .img {
  width: 200px;
  height: 200px;
}

.navbar-expand-lg {
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #f0f8ff !important;
}

.header__container-fluid {
  align-items: center;
  text-align: center;
}

.header_logo {
  width: 150px;
  height: 150px;
}

.body_li {
  display: flex;
  list-style: none;
  justify-content: space-around;
  background-color: color azure;
  color: black;
  position: relative;
}

body {
  background: linear-gradient(289deg, #f0f8ff, #7fffd4, #8b8bcb) !important;
}

.footer_logo-wp {
  width: 100px;
  height: 100px;
}

.footer_logo-face {
  width: 100px;
  height: 100px;
}

.footer_logo-insta {
  height: 100px;
  width: 100px;
}

.iconos-redes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #7fffd4;
}

.footer {
  text-align: center;
  background-color: #9898b9;
  height: 182px;
}

.footer_h3 {
  background-color: #9898b9;
}

.section_img {
  width: 100%;
  height: 100%;
  margin: 4px;
  padding: 9px;
}

.galeria {
  width: 100%;
}

.section_img:hover {
  border: 1px solid black;
}

.galeria-productos {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(289deg, #f0f8ff, #7fffd4, #8b8bcb) !important;
}

.card-img-top {
  width: 285px;
  height: 250px;
}

.card {
  background-color: #7eb5ec;
  width: 287px;
  height: 460px;
  margin-top: 10px;
  background-color: aquamarine !important;
}

.card:hover {
  border: 1px solid black;
}

.row {
  overflow: hidden;
}

form.formulario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(289deg, #f0f8ff, #7fffd4, #8b8bcb) !important;
  border-radius: 3px solid black;
}

form.formulario:hover {
  border-radius: 3px solid white;
}

iframe.formulario_iframe {
  width: 100%;
}

.formulario_h4 {
  text-align: center;
  background-color: whitesmoke;
}

.body {
  display: flex;
  width: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  margin-top: 20px;
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
}

.container-a {
  position: relative;
  margin-top: 20px;
  width: 400px;
  height: 384px;
  left: 347px;
  top: 8px;
  margin-bottom: 20px;
}

.container-a .cara-a {
  display: flex;
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
}

.container .cara {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-a .cara-a span {
  width: 100px;
  height: 100%;
  transition: 0.5s;
}

.container .cara span {
  width: 100px;
  height: 100%;
  transition: 0.5s;
}

.container-a .cara1-a span {
  background: url("https://i.ibb.co/m6Hw2WJ/Carrucel1-16.jpg");
  transform-origin: top;
}

.container .cara1 span {
  background: url("https://i.ibb.co/J7tN3qH/Carrucel1-2.jpg");
  transform-origin: top;
}

.container-a:hover .cara1-a span {
  transform: rotateX(90deg) translateY(-50%);
}

.container:hover .cara1 span {
  transform: rotateX(90deg) translateY(-50%);
}

.container-a .cara2-a span {
  background: url("https://i.ibb.co/6YHfmk8/Carrucel1-17.jpg");
  transform-origin: bottom;
  transform: rotateX(90deg) translateY(50%);
}

.container .cara2 span {
  background: url("https://i.ibb.co/BjhXtns/Carrucel-1.jpg");
  transform-origin: bottom;
  transform: rotateX(90deg) translateY(50%);
}

.container-a:hover .cara2-a span {
  transform: rotateX(0) translateY(0);
}

.container:hover .cara2 span {
  transform: rotateX(0) translateY(0);
}

.container-a .cara-a span:nth-child(1) {
  background-position-x: 0;
  transition-delay: 0s;
}

.container-a .cara-a span:nth-child(2) {
  background-position-x: -100px;
  transition-delay: 0.1s;
}

.container-a .cara-a span:nth-child(3) {
  background-position-x: -200px;
  transition-delay: 0.2s;
}

.container-a .cara-a span:nth-child(4) {
  background-position-x: -300px;
  transition-delay: 0.3s;
}

.container .cara span:nth-child(1) {
  background-position-x: 0;
  transition-delay: 0s;
}

.container .cara span:nth-child(2) {
  background-position-x: -100px;
  transition-delay: 0.1s;
}

.container .cara span:nth-child(3) {
  background-position-x: -200px;
  transition-delay: 0.2s;
}

.container .cara span:nth-child(4) {
  background-position-x: -300px;
  transition-delay: 0.3s;
}

@media (min-width: 320px) {
  .body_li {
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: azure;
    color: black;
    flex-direction: column;
    align-items: center;
  }
  .row {
    margin: 0 !important;
  }
}
@media (min-width: 768px) {
  .body_li {
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: azure;
    color: black;
    flex-direction: row;
    align-items: center;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=main.css.map */