.body_li{
        display: flex;
        list-style: none;
        justify-content: space-around;
        background-color:$bodyli;
        color: black;
        position: relative; 
    }

body{
    background: linear-gradient(289deg, #f0f8ff, #7fffd4, #8b8bcb) !important;
}