.body_li{
        display: flex;
        list-style: none;
        justify-content: space-around;
        background-color:$bodyli;
        color: black;
        position: relative; 
    }

.body {
    background-color:aqua!important;
    height: 100vh!important;
}    