.body_li{
        display: flex;
        list-style: none;
        justify-content: space-around;
        background-color:$bodyli;
        color: black;
        position: relative; 
    }

body{
    background: linear-gradient(0.50turn,#f0f8ff,#f0f8ff,#9898b9)!important;
}