.card-img-top{
    width: 285px;
    height: 250px;
}
.card{
    background-color: #7eb5ec;
    width: 287px;
    height: 460px;
    margin-top: 10px;
    background-color: aquamarine!important;
}
.card:hover{
    border: 1px solid black;
}
.row{
    overflow: hidden;

}