form.formulario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px solid black;
}
form.formulario:hover{
    border-radius: 3px solid white  ;
}
iframe.formulario_iframe {
    width: 100%;
}
.formulario_h4{
    text-align: center;
}
.accordion{
    background: linear-gradient(0.50turn,#f0f8ff,#f0f8ff,#9898b9)!important;
}
.forulario_input{
    text-align: center;
    background-color: #7fffd478;
}
