form.formulario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(289deg, #f0f8ff, #7fffd4, #8b8bcb) !important;
    border-radius: 3px solid black;
}
form.formulario:hover{
    border-radius: 3px solid white  ;
}
iframe.formulario_iframe {
    width: 100%;
}
.formulario_h4{
    text-align: center;
    background-color: whitesmoke;

}