.section_img{
    width: 100%;
    height: 100%;
    margin: 4px;
    padding: 9px;
    
}

.galeria{
width: 100%;

}
.section_img:hover{
    border: 1px solid black;
}
.galeria-productos {
display: flex;
flex-wrap: wrap;
align-content: stretch;
justify-content: space-around;
align-items: center;
background: linear-gradient(289deg, #f0f8ff, #7fffd4, #8b8bcb) !important;
}