@media (min-width: 320px) {
    form.formulario {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 3px solid black;
        left: 44px;
    }
    iframe.formulario_iframe {
        position: relative;
        width: 399px;
    }
    .galeria-productos {
        left: 50px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-around;
        align-items: center;
    }
  .footer {
    text-align: center;
    background-color: #9898b9;
    height: 182px;
    width: 400px;
  }
  .body_li {
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: azure;
    color: black;
    flex-direction: column;
    align-items: center;
    width: 400px;
  }
  .row {
    position: relative;
    display: flex;
    margin: 0 !important;
    left: 40px;
   flex-wrap: wrap;
    align-items: baseline;
}
} 
.container-a {
    position: relative;
    margin-top: 20px;
    width: 400px;
    height: 384px;
    left: 0px;
    top: 8px;
    margin-bottom: 20px;
  }
  .body {
    background-color: rgb(243, 209, 164)!important;
  }
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #f0f8ff !important;
    width: 400px;
  }

  @media (min-width: 768px) {
    iframe.formulario_iframe {
        position: relative;
        width: 768px;
    }
    .galeria-productos {
        left: 0px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-around;
        align-items: center;
    }
    .body {
        background-color: rgb(243, 209, 164)!important;
    }
    .body_li {
      display: flex;
      list-style: none;
      justify-content: space-around;
      background-color: azure;
      color: black;
      flex-direction: row;
      align-items: center;
    }
    .navbar-expand-lg {
      flex-wrap: nowrap;
      justify-content: center;
      background-color: #f0f8ff !important;
      width: 768px;
    }
    .container-a {
      position: relative;
      margin-top: 20px;
      width: 400px;
      height: 384px;
      left: 184px;
      top: 8px;
      margin-bottom: 20px;
    }
    .body_li {
        display: flex;
        list-style: none;
        justify-content: space-around;
        background-color: azure;
        color: black;
        flex-direction: row;
        align-items: center;
        width: 768px;
    }
    .footer {
        text-align: center;
        background-color: #9898b9;
        height: 182px;
        width: 768px;
    }
  }
@media(min-width:1024px){
    iframe.formulario_iframe {
        position: relative;
        width: 1024px;
    }
    form.formulario {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        left: 0px;
    }
    .row {
        position: relative;
        display: flex;
        margin: 0 !important;
        left: -2px;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: center;
        background-color: #f0f8ff !important;
        width: 1024px;
    }
    .container-a {
        position: relative;
        margin-top: 20px;
        width: 400px;
        height: 384px;
        left: 311px;
        top: 8px;
        margin-bottom: 20px;
    }
    .body_li {
        display: flex;
        list-style: none;
        justify-content: space-around;
        background-color: azure;
        color: black;
        flex-direction: row;
        align-items: center;
        width: 1024px;
    }
    .footer {
        text-align: center;
        background-color: #9898b9;
        height: 182px;
        width: 1024px;
    }
}
@media(min-width:1440px){
    iframe.formulario_iframe {
        position: relative;
        width: 1347px;
    }
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: center;
        background-color: #f0f8ff !important;
        width: 1440px;
    }
    .container-a {
        position: relative;
        margin-top: 20px;
        width: 400px;
        height: 384px;
        left: 520px;
        top: 8px;
        margin-bottom: 20px;
    }
    .body_li {
        display: flex;
        list-style: none;
        justify-content: space-around;
        background-color: azure;
        color: black;
        flex-direction: row;
        align-items: center;
        width: 1440px;
    }
    .footer {
        text-align: center;
        background-color: #9898b9;
        height: 182px;
        width: 1440px;
    }
}
@media(min-width:1366px){
    iframe.formulario_iframe {
        position: relative;
        width: 1349px;
    }    
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: center;
        background-color: #f0f8ff !important;
        width: 1349px;
    }
    .container-a {
        position: relative;
        margin-top: 20px;
        width: 400px;
        height: 384px;
        left: 475px;
        top: 8px;
        margin-bottom: 20px;
    }
    .body_li {
        display: flex;
        list-style: none;
        justify-content: space-around;
        background-color: azure;
        color: black;
        flex-direction: row;
        align-items: center;
        width: 1349px;
    }
    .footer {
        text-align: center;
        background-color: #9898b9;
        height: 182px;
        width: 1349px;
    }
}
